<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>

<ul class="list-group">
	<li class="list-group-item"><strong>email : </strong>{{user.email}}</li>
	<li class="list-group-item"><strong>phone : </strong>{{user.phone}}</li>
</ul>
<br>
<a class="btn btn-warning pull-left" href="/">back</a>
<form method="POST" action="/user/delete/{{user.id}}?_method=DELETE">
  <input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>